  <button *ngIf="!exercise" (click)="addNewExercise()" class="btn btn-grey btn-primary">Pridėti pratimą</button>
  <app-add-exercise *ngIf="exercise" [exerciseDetails]="exercise" (saveEvent)="saveExercise($event)"></app-add-exercise>
<app-exercise-groups></app-exercise-groups>
<div class="row" style="margin-top: 20px;">
  <div *ngIf="isLoading">Siunčiami duomenys...</div>
  <div *ngIf="!isLoading">
    <div *ngFor="let i of exercises" class="col-xs-6">
      <div class="thumbnail">
        <img alt="100%x200" data-src="holder.js/100%x200" src="{{i.imageUrlFirst}}" data-holder-rendered="true" style="height: 150px; width: 49%; display: inline-block;">
        <img alt="100%x200" data-src="holder.js/100%x200" src="{{i.imageUrlSecond}}" data-holder-rendered="true" style="height: 150px; width: 49%; display: inline-block;">
        <div class="caption">
          <p>{{i.name}}</p>
          <p>Daugiau informacijos</p>
          <button class="btn btn-grey btn-default"><strong>Redaguoti</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>