
     <div class="row">
                  <div class="form-group col-sm-6">

                    <select class="form-control">
                        <option value="" disabled>Mėnesio savaitė</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                  </select>
                  </div>
                  <div class="input-group col-sm-6">

                    <select class="form-control">
                        <option value="" disabled>Savaitės diena</option>
                        <option value="1">Pirmadienis</option>
                        <option value="2">Antradienis</option>
                        <option value="3">Trečiadienis</option>
                        <option value="4">Ketvirtadienis</option>
                        <option value="5">Penktadienis</option>
                        <option value="6">Šeštadienis</option>
                        <option value="7">Sekmadienis</option>
                  </select>
                    <div class="input-group-btn">
                      <button class="btn  btn-danger"><span class="glyphicon glyphicon-minus"></span></button>
                    </div>
                  </div>
                </div>
