.mano-rutina {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    height: 500px;
    border: rgba(237,85,100,0.22) 1px solid;
    border-radius: 5px;
    overflow: auto;
    background-color: rgba(237, 85, 100, 0.09);
}

.mano-rutina.issaugota {
    height: auto;
}

.navbar {
    
    background-color: #5b6472;
}

.nav {
    
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 24px;
}

.navbar-brand {
    
    font-size: 30px;
    height: 100px;
}

.btn {
    
    background-color: #888e98;
    color: #fff;
}

.btn a:hover {
    
}


#navbar a,
.navbar-default .navbar-brand {
    transition: color 300ms;
}

#navbar a:hover {
    color: #873528;
}

.navbar-default .navbar-brand:hover {
    color: #873528;
}

.dropdown-menu>li>a {
    text-transform: initial;
}

@media (max-width: 992px) {
   .mano-rutina {
       height: auto;
       min-height: 200px;
    }
}

@media (max-width: 800px) {
    .btn-group-justified {
        display: block;
    }
    
    .btn-group-justified .btn-group {
        display: inline-block;
        width: auto;
        
    }
    
    .btn-group-justified .btn-group button {
        border-radius: 4px !important;
        margin-bottom: 5px;
    }
}

@media (max-width: 550px) {
    .thumbnail img {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 24px;
        height: auto;
    }
    
    .navbar-brand img {
        height: 40px;
    }
}