<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Mano rutina</h2>
      <div class="mano-rutina">
        <div *ngFor="let exercise of exercises" class="col-md-12">
       
         <div class="thumbnail">
        <img alt="100%x200" data-src="holder.js/100%x200" src="assets/images/noimg.png" data-holder-rendered="true" style="height: 150px; width: 49%; display: inline-block;">
        <img alt="100%x200" data-src="holder.js/100%x200" src="assets/images/noimg.png" data-holder-rendered="true" style="height: 150px; width: 49%; display: inline-block;">
        <div class="caption">
          <p>{{exercise.name}}</p>
          <p>Daugiau informacijos</p>
          <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        </div>
      </div>
     
      </div>
      <div class="clearfix">
        <button class="btn btn-grey btn-default pull-right">Išsaugoti</button>
      </div>
    </div>
    <div class="col-md-8">
      <app-exercise-groups></app-exercise-groups>
      <app-exercise></app-exercise>
    </div>
  </div>
</div>